<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suites" verbose="2" parallel="methods" thread-count="2">
<test name="Test Casses">
<parameter name="Name" value="Kamalakannan"></parameter>
<classes>
<class name="testNG.ParameterizationExample"></class>
</classes>
</test>
</suite>


<!-- <groups>
<run>
<include name="Apple"></include>
<include name="Google"></include>
</run>
</groups> 
<class name="testNG.GroupingExample"></class>-->


<!--<class name="testNG.DependenciesManagement"></class>
<class name="testNG.DriveACar"></class>
<class name="testNG.SampleTestCase"></class>
<class name="testNG.SkipATestCase"></class> 
 -->